{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}

    <h1>MOVIE APP</h1>
    <span class="home_button">
      {{#link-to "movie"}}
      {{#paper-button}}
        Home
      {{/paper-button}}
      {{/link-to}}

    </span>

    {{#link-to "myfavourite"}}
    {{#paper-button mini=true aria-label="Favorite"}}

      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{/link-to}}
    {{#link-to "search"}}
      {{#paper-button}}
        Search
      {{/paper-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}