{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}

    <h1>MOVIE APP</h1>
    <span class="home_button">
      {{#paper-button}}
        {{#link-to "movie"}}
        Home
        {{/link-to}}
      {{/paper-button}}

    </span>


    {{#paper-button mini=true aria-label="Favorite"}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}