<img src="http://image.tmdb.org/t/p/w342/{{model.poster_path}}"
     style="width: 150px; height: 150px">
<p>TITLE:{{model.title}}</p>
<p>RELEASE:{{model.release_date}}</p>
<p>POPULARITY:{{model.popularity}}</p>